<!DOCTYPE html>
<html>
<head>
  <style>


  
  .nav {
    background-color:rgba(0,0,0,0.2) !important;
    border-color: transparent !important;
    background-image:none !important;
    color:white !important;
  }
  .nav .btn {
    background-color: rgba(255, 255, 255, 0) !important;
    color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.205)!important;
  }
  .nav li{
    padding-left:30px;
    padding-right:20px;
  }
  .nav a{
    color:white !important;
  }
  .nav input{
    background-color: rgba(255, 255, 255, 0.171);
    border-color: transparent !important;
  }
  .nav ::placeholder {
    color:white !important;
  }



  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .sticky:before,
  .sticky:after {
    content: '';
    display: table;
  }
  .sidebarContainer {
  }
  .sidebar {
    fill: solid;
    background: #24345E;
    color: white;
  }
  .basicInfo {
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 66px;
    padding-bottom: 100px; 
  }
  .active {
  }
  .links {
    display: block !important;
  }
  .header {
    display: inline-block;
  }
  .hdrBtns {
    display: inline-block;
    float:right;  }
    .Rplus {
      font-size: 48px;
    }
    .background {
      background-color: #E1EBF2
    }
    .box {
      margin-left: 10px;
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 15px;
    }
    .summary {
      font-size: 48px;
    }
    .topRight {
      position: absolute;
      top: 5px;
      right:10px;
    }
  </style>
  <title>Patient Search</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Pacifico"/>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="/files/js/stickyfillmin.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>


</head>
<body> 
  <div class="background">

    <div class="sidebarContainer">
      <div class="row">
        <nav class="col-sm-2 sidebar">
          <div class = "sidebar sticky " >
            <div class = "basicInfo"> 
              <h2 id = "name"> Patient Name </h2>

              <p id="ageDOB"> Age: ###, DOB: ##-##-####</p>
              <p id="sexWH"> Female, ###.# kg, ### cm </p>
              <p id="allergiesSide"> Shellfish </p>

            </div>

            <ul class="nav nav-pills nav-stacked links">
              <li class="active">
                 <a href="patientPage">Patient Summary</a></li>
                <li><a href="#section2">Social History</a></li>
                <li><a href="problemList">Problem List</a></li>
                                <li><a href="allergies">Allergies</a></li>
                <li><a href="#section4">Immunization Record</a></li>
                <li><a href="#section3">Well Child Check</a></li>
                <li><a href="#section5">Testing</a></li>
                <li><a href="#section6">Growth Charts</a></li>
                <li><a href="#section7">Nurse Notes</a></li>
                <li><a href="#section8">Scans</a></li>


              </ul>
            </div>
          </nav>
          <div class="col-sm-10">   

            <div class = "card header">
             <div class = "topRight">
              <p> Welcome, "User Name"  | </p>
              <button> Logout </button>
            </div>

            <div class = "Rplus header"> R+ Childrens </div>

            <div class = "hdrBtns header">
             <a href="#Pharmacy">Pharmacy</a>
             <a href="#AllPatients">All Patients</a>
             <a href="#AddPatient">Add Patient</a>
           </div>

         </div>
         <div class = "card box summary"> 
          <h3> Patient Summary </h3>

        </div>
        <div id= "updates" class = "card box">
          <h3> Upcoming Updates </h3>
          <div class="row">
            <div class="col-sm">
              12-21-2001
            </div>
            <div class="col-sm">
              Do the well child check
            </div>
            <div class="col-sm">
              Overdue
            </div>

          </div>

          <div class="row">
            <div class="col-sm">
              12-21-2001
            </div>
            <div class="col-sm">
              Do the well child check
            </div>
            <div class="col-sm">
              Overdue
            </div>

          </div>

        </div>
        <div id="allergies" class="card box">
          <h3> Allergies </h3>
          <div class="row">
            <div class="col-sm">
              Peanuts
            </div>
            <div class="col-sm">
              Not very severe
            </div>
            <div class="col-sm">
            </div>

          </div>
        </div>
        <div id="socialHistory" class="card box">
         <h3> Brief Social History </h3>
         <p> Mother left her on the side of the street </p>
       </div>


       <div class="container" id='patientCards'></div>

     </div>

   </div>

 </div>

</div>

</body>


<script>


 $(document).ready(function(){


  var elements = document.querySelectorAll('.sticky');
  Stickyfill.add(elements);
            // Initial Page Load


            $.ajax({
              type: 'POST',
              url: '/getPatientKeys',
              data: {
                search: '',
                field: 'lastName',
              },
              success: function(result) {
                patients = result.patient;
                getPatientData(result.patient);
              }
            });




            $.ajax({
              type: 'POST',
              url: '/getPatientKeys',
              data: {
                search: '',
                field: 'lastName',
              },
              success: function(result) {
                patients = result.patient;
                updatePatientKeys(result.patient);
              }
            });

          });



 var getPatientData = function(patient) {
  var temp = patient;
  var updates = [{date: '12-12-12', note: 'Do the test', status: 'Overdue'}]
  var allergies = [{item: 'dairy', severity: 'Mild', note: 'Avoid diary products'}]
  var socialHistory = 'Parents died from disease when child was young.';
  console.log('here:' + patient);
  var cards = "";
  var date = new Date(2018,2,12);
  var i = 1;
  var patient = patient[i];
  $('#name').text(patient.firstName + ' ' + patient.lastName);
  $('#ageDOB').text('Age: ' + getAge(patient.birthdate) + ',  ' + 'DOB: ' + patient.birthdate)
  
  $('#sexWH').text('Sex: ' +  'female' + ',  Weight: ' + patient.weight + " kgs,  Height: " + patient.height + " cm" );
  $('#allergiesSide').text('Allergies: ' + allergies[0].item );

  var updates = '<div class="row"> <div class="col-sm">' + updates[0].date + 
  '</div> <div class="col-sm">' + updates[0].note + 
  '</div><div class="col-sm">' + updates[0].status + '</div> </div>'
  $('#updates').append(updates);

  var allergies =  '<div class="row"> <div class="col-sm">' + allergies[0].item + 
  '</div> <div class="col-sm">' + allergies[0].severity + 
  '</div><div class="col-sm">' + allergies[0].note + '</div> </div>'
  $('#allergies').append(allergies);

  var socialHistory = '<p>' + socialHistory + ' </p>'
  $('#socialHistory').append(socialHistory);

  patient = temp;
  cards += '<div class="card">';
  cards += '<div class="card-body">';
  cards += '<h5 class="card-title">' + patient[i].lastName + ', ' +  patient[i].firstName +  '</h5>';
  cards += '<h6 class="card-subtitle mb-2 text-muted">Given Name: '+patient[i].givenName+', '+ patient[i].sex+'</h6>';
  cards += '<p class="card-text">';
  cards += 'Birthdate: ' + patient[i].birthdate + ', ';
  cards += 'Age: ' + getAge(date) + ', ';
                        // CALCULATE AGE FROM BIRTHDATE HERE
                        cards += 'Height: ' + patient[i].height + ', ';
                        cards += 'Weight: ' + patient[i].weight + ', ';
                        cards += 'Father: ' + patient[i].father + ', ';
                        cards += 'Mother: ' + patient[i].mother + ', ';
                        cards += '</p>';
                        cards += '<a href="/#'+ patient[i].id + '" class="card-link">Card link</a>';
                        cards += '</div>';
                        cards += '</div>';
                        
                      }
                   //   document.getElementById('patientCards').innerHTML = cards;




                   function getAge(fromdate, todate){
                    if(todate) todate= new Date(todate);
                    else todate= new Date();

                    var age= [], fromdate= new Date(fromdate),
                    y= [todate.getFullYear(), fromdate.getFullYear()],
                    ydiff= y[0]-y[1],
                    m= [todate.getMonth() + 1, fromdate.getMonth()],
                    mdiff= m[0]-m[1],
                    d= [todate.getDate(), fromdate.getDate()],
                    ddiff= d[0]-d[1];

                    if(mdiff < 0 || (mdiff=== 0 && ddiff<0))--ydiff;
                    if(mdiff<0) mdiff+= 12;
                    if(ddiff<0){
                      fromdate.setMonth(m[1]+1, 0);
                      ddiff= fromdate.getDate()-d[1]+d[0];
                      --mdiff;
                    }
                    w = Math.floor(ddiff/7);
                    ddiff = ddiff % 7;
                  // 3 or older -> show year
                  if (ydiff > 2) age.push(ydiff+ ' year'+(ydiff> 1? 's ':' '));
                  else if (ydiff> 0) {
                    // Over a year -> show year and month
                    age.push(ydiff+ ' year'+(ydiff> 1? 's ':' '));
                    if(mdiff> 0) age.push(mdiff+ ' month'+(mdiff> 1? 's':''));
                    // Less than a year -> show month and day
                  } else if (mdiff> 3) {
                   age.push(mdiff+ ' month'+(mdiff> 1? 's':''));
                   if (w> 0) age.push(w+ ' week' + (w> 1? 's':''));
                 } else if (mdiff>0) {
                  age.push(mdiff+ ' month'+(mdiff> 1? 's ':' '));
                  if(w> 0) age.push(w+ ' week'+(w> 1? 's':''));
                } else {
                  if(w> 0) age.push(w+ ' week'+(w> 1? 's':''));
                  if(ddiff> 0) age.push(ddiff+ ' day'+(ddiff> 1? 's':''));
                }

                if(age.length>1) age.splice(age.length-1,0,' and ');    
                return age.join('');
              }



              var updatePatientKeys = function(patient) {
                console.log('here:' + patient);
                var cards = "";
                var date = new Date(2018,2,12);

                for(var i = 0; i < patient.length; i++) {
                  cards += '<div class="card">';
                  cards += '<div class="card-body">';
                  cards += '<h5 class="card-title">' + patient[i].lastName + ', ' +  patient[i].firstName +  '</h5>';
                  cards += '<h6 class="card-subtitle mb-2 text-muted">Given Name: '+patient[i].givenName+', '+ patient[i].sex+'</h6>';
                  cards += '<p class="card-text">';
                  cards += 'Birthdate: ' + patient[i].birthdate + ', ';
                  cards += 'Age: ' + getAge(date) + ', ';
                        // CALCULATE AGE FROM BIRTHDATE HERE
                        cards += 'Height: ' + patient[i].height + ', ';
                        cards += 'Weight: ' + patient[i].weight + ', ';
                        cards += 'Father: ' + patient[i].father + ', ';
                        cards += 'Mother: ' + patient[i].mother + ', ';
                        cards += '</p>';
                        cards += '<a href="/#'+ patient[i].id + '" class="card-link">Card link</a>';
                        cards += '</div>';
                        cards += '</div>';
                      }
                      document.getElementById('patientCards').innerHTML = cards;
                    };



                    function getAge(fromdate, todate){
                      if(todate) todate= new Date(todate);
                      else todate= new Date();

                      var age= [], fromdate= new Date(fromdate),
                      y= [todate.getFullYear(), fromdate.getFullYear()],
                      ydiff= y[0]-y[1],
                      m= [todate.getMonth() + 1, fromdate.getMonth()],
                      mdiff= m[0]-m[1],
                      d= [todate.getDate(), fromdate.getDate()],
                      ddiff= d[0]-d[1];

                      if(mdiff < 0 || (mdiff=== 0 && ddiff<0))--ydiff;
                      if(mdiff<0) mdiff+= 12;
                      if(ddiff<0){
                        fromdate.setMonth(m[1]+1, 0);
                        ddiff= fromdate.getDate()-d[1]+d[0];
                        --mdiff;
                      }
                      w = Math.floor(ddiff/7);
                      ddiff = ddiff % 7;
                  // 3 or older -> show year
                  if (ydiff > 2) age.push(ydiff+ ' year'+(ydiff> 1? 's ':' '));
                  else if (ydiff> 0) {
                    // Over a year -> show year and month
                    age.push(ydiff+ ' year'+(ydiff> 1? 's ':' '));
                    if(mdiff> 0) age.push(mdiff+ ' month'+(mdiff> 1? 's':''));
                    // Less than a year -> show month and day
                  } else if (mdiff> 3) {
                   age.push(mdiff+ ' month'+(mdiff> 1? 's':''));
                   if (w> 0) age.push(w+ ' week' + (w> 1? 's':''));
                 } else if (mdiff>0) {
                  age.push(mdiff+ ' month'+(mdiff> 1? 's ':' '));
                  if(w> 0) age.push(w+ ' week'+(w> 1? 's':''));
                } else {
                  if(w> 0) age.push(w+ ' week'+(w> 1? 's':''));
                  if(ddiff> 0) age.push(ddiff+ ' day'+(ddiff> 1? 's':''));
                }

                if(age.length>1) age.splice(age.length-1,0,' and ');    
                return age.join('');
              }


            </script>
          </body>
          </html>

